main{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
}

main .main-image{
    width: 100%;
    height: inherit;
}

main .main-image img{
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 600px;
}

main .text-main{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}   

main .text-main p{
    color: #000001;
    font-size: 85px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:900;
    position: absolute;
    
}

main .main-buttons{
    width: 500px;
    height: inherit;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
}

main .main-buttons div {
    display: inline-block;
    justify-content: center;
    margin-bottom: 70px;
}

main .main-buttons button {
    height: 36px;
    background-color: #f2f2f2;
    border: 0;
    font-size: 14px;
    color: #5f6368;
    border-radius: 5px;
    padding: 0 15px;
    margin-right: 35px;
}

main .main-buttons button:hover{
    box-shadow: 0 1px 1px #000001;
    border: 1px solid #c6c6c6;
    color: #222;
}