@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    background: #e5e5e5;
	font-family: 'Roboto', sans-serif;
  }
  
  .center{
    width: 100%;
    height: 80%;
      display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .rojo {
      color: red;
  }

  .Formulario {
    max-width: 800px;
    width: 90%;
    margin: auto;
    padding: 40px;
  }
