* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family:sans-serif;
    background: #102629;
  }
  
  .center{
    width: 100%;
    height: 80%;
      display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .rojo {
      color: red;
  }

